<% if user_signed_in? %>
  <% if @restaurant.favorited_by?(current_user) %>
    <%= link_to restaurant_favorite_path(@restaurant.id), method: :delete do %>
      <span class="glyphicon glyphicon-heart"></span>
      <%= @restaurant.favorites.count %>件
    <% end %>
  <% else %>
    <%= link_to restaurant_favorite_path(@restaurant.id), method: :post do %>
      <span class="glyphicon glyphicon-heart-empty"></span>
      <%= @restaurant.favorites.count %>件
    <% end %>
  <% end %>
<% end %>