<h1 class="zantei text-center">暫定的にルートパス一覧掲載します</h1>

<p class="path_name">
 <%= link_to "レストラン検索",search_path %>
</p>
<p class="path_name">
 <%= link_to "restaurants#index",restaurants_path %>
</p>
<p class="path_name">
 <%= link_to "restaurants#new",new_restaurant_path %>
</p>
<p class="path_name">
 <%#= link_to "menus#index",restaurant_menus_path,method: :get %>
</p>
<p class="path_name">
 <%#= link_to "menus#new", new_restaurant_menu_path %>
</p>
<div class = "container">
	<h1 class = "text-center"><strong>EATING</strong>とは</h1><br>
	<p class = "text-center">お店選びのためのグルメ専門サイト</p><br>
	<p class = "text-center">EATINGはteam0930グループの運営するグループ内最大級のグルメサイトです。</p><br>
	<p class = "text-center">ユーザーの口コミと飲食店情報を情報を掲載しています。</p><br>
	<h3 class = "text-center">成功することを保証されたお店選びをしましょう</h3>
	<h3 class = "text-center"><%= link_to "homeへ",root_path %></h3>
</div>


