<h1>一覧</h1>
<div><%= link_to " 新規投稿", new_restaurant_path, class: 'btn btn-info' %></div>

<% @restaurants.each do |r| %>

	<%# r.pictures.each do |i| %>
		<%#= attachment_image_tag i, :image, class: "blog-index-photo" %>
	<%# end %>

	<%= r.name %>
	<%= r.area.name %>
<% end %>