<div class="restaurant-show-page container">

	<div class="row">

		<div class="col-md-2">


		</div>

		<div class="col-md-8">
			<%= @restaurant.name %>
			<%= @restaurant.area.name %>
		</div>
	</div>

	<div class="row">
		<%= link_to '一覧へ', restaurants_path, class:"btn btn-success" %>
	</div>

</div>