// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant-show-page {
	margin: 30px 0;
}

.restaurant-img {
	background-color: orange;
	width: 250px;
	height: 250px;
}
.restaurant-show-page > row {
	margin: 25px 0;
}