// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// [ 店舗詳細ページ ]
.restaurant-show-page {
	margin: 30px 0;
}
.restaurant-show-page > row {
	margin: 25px 0;
}
.restaurant-name {
	font-size: 36px;
	margin: 0 10px;
}
.restaurant-intro {
	font-size: 18px;
}
.showpage-btn {
	text-align: center;
}

.restaurant-new,
.restaurant-edit{
	h2{
		padding: 10px 0;
	}
	.table{
		tbody{
			th{
				width: 30%;
				background-color: #eee;
			}
			th,td{
				padding: 10px;
			}
		}
	}
}
